body {
 font-family: 'Arvo',
 serif;
}

body, html {
 height: 100%;
}

.height {
 min-height: 100vh;
}

.title-underline {
 width: 200px;
 height: 10px;
 margin: 0 auto;
 /* background: blue!important;*/
}

.title-underline-projects {
 width: 265px;
 height: 10px;
 margin: 0 auto;
 /* background: blue!important;*/
}

.title-underline-first-carousel {
 width: 300px;
 height: 10px;
 margin: 0 auto;
 /* background: blue!important;*/

.height-80 {
 min-height: 80vh;
}

.about-picture {
 background-image: url(/img/about-bcg.jpg)center/cover no-repeat fixed;
 /* background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;*/
}

#filler {
 background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .9)),
  url(/img/projects-1.jpg)center/cover no-repeat fixed;
}

